/* navbar */

.navbar {
    background-color: #f8f9fa;
}

/* history */


.history-number {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin-top: -40px;
}

.kpcc-head-main{
  width: 50%;
}

.cheif-minister-container {
    background-color: #207BC8;
}



@media screen and (max-width: 600px) {
  
  /* .hero-carousel {
    height: 600px;
  } */
  
  .about-image {
    display: none;
  }

  .kpcc-head-main {
    width: 100%;
  }

}